*
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.the telegraph
{
	font-style: normal;
	font-size: 2px;
	color: brown;
}
.navbar-nav{
	height: 50px;
}

div.c {
  text-decoration-line: underline;
  text-decoration-style: double;
}

}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#left{
	width: 30%;
	margin: 8px;
	float: left;
}

#right{
	width: 30%;
	float: right;
	margin: 8px;
}
#content{
	margin-left: 50px;
	margin-right: 50px;
	overflow: hidden;
	min-height: 330px;
}
#right1
{
	width: 90%;
	float: right;
	margin: 8px;
	min-height: 1000px;
}
#right2{
	width: 40%;
	float: right;
	margin: 8px;
}
#left1{
	width: 40%;
	margin: 8px;
	float: left;
}
#left2{
	width: 30%;
	margin: 8px;
	float: left;
	
}
#right3{
	width: 60%;
	float: right;
	margin: 8px;
	min-height: 500px;
}
#right5{
	width: 30%;
	float: right;
	margin: 8px;
	min-height: 300px;
}
#left5{
	width: 60%;
	margin: 8px;
	float: left;
	min-height: 300px;
	}
